{% extends "layout/basic.html" %}

{% load bbtags %}

{% block title %}{{ bb.title }}{% endblock %}

{% block content %}

    <p><strong>Рубрика:</strong> {{ bb.rubric.name }}</p>
    <h2>{{ bb.title }}</h2>
    <p>{{ bb.content }}</p>
    <p>Цена: {{ bb.price|cur:'тг.' }}</p>

    <p>
        <a href="{% url 'bboard:update' bb.pk %}">
            <button type="button" class="btn btn-primary">Изменить</button>
        </a>
        <a href="{% url 'bboard:delete' bb.pk %}">
            <button type="button" class="btn btn-danger">Удалить</button>
        </a>
    </p>

{% endblock %}