{% extends "layout/basic.html" %}

{% load thumbnail %}

{% block title %}Добавление изображения{% endblock %}

{% block content %}

    <h2>Counter: {{ counter }}</h2>

    <h2>Добавление изображения</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>

    {% for img in imgs %}
        {% thumbnail img.img 'default' as thumb %}
        <div><img src="{{ thumb.url }}"></div>

        <p>{{ img.img.desc }}</p>
    {% endfor %}

{% endblock %}