{% extends "layout/basic.html" %}

{% load thumbnail %}

{% block title %}Добавление изображения{% endblock %}

{% block content %}
    <h2>Добавление изображения</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>

    {% for img in imgs %}
        {# <div><img src="{{ img.img.url }}"></div> #}
        {# <div><img src="{{ img.img|thumbnail_url:'default' }}"></div> #}
        {# <div><img src="{% thumbnail img.img 'default' %}"></div> #}
        {# <div><img src="{% thumbnail img.img 'default' bw=False %}"></div> #}
        {# <div><img src="{% thumbnail img.img '300x200' crop='smart' %}"></div> #}

        {% thumbnail img.img 'default' as thumb %}
        <div><img src="{{ thumb.url }}"></div>

        <p>{{ img.img.desc }}</p>
    {% endfor %}

{% endblock %}