{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">

    {% static 'style.css' as css_url %}
    {# <link rel="stylesheet" href="{% static 'style.css' %}"> #}
    <link rel="stylesheet" href="{{ css_url }}">
</head>
<body>

    <header>
        <h1>Объявления</h1>
    </header>

    {% include 'inc/main_menu.html' %}

    <section>
        {% block content %}
            <p>Содержимое базового шаблона</p>
        {% endblock %}
    </section>


<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>

</body>
</html>